<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Agendamento</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">   

    <style type="text/css">
        @import url('../assets/css/forms.css');

    </style>
   <meta charset="utf-8">
  </head>
  <body>
   <div class="btn-return" >
          <a href="menuAgenda" class="btn header-btn"><button>Retornar</button>
         </a> </div>
         
    <div class="testbox">
      <form [formGroup]="agendamentoForm">
        <div class="banner">
          <h1>Agendamento</h1>
        </div>
        <br/>
        <br/>
        <div class="colums">
          <div class="item">
            <label for="cpf">CPF<span>*</span></label>
             <input class="input--style-3" type="text" id="cpf" maxlength="13"  formControlName="cpf" onkeypress="mascaracpf(this)">
          </div>
          
           <div class="item">
            <label for="nome">Nome<span>*</span></label>
             <input class="input--style-3" type="text"  formControlName="nome">
          </div>
          <div class="item">
            <label for="email">E-mail<span>*</span></label>
            <input id="email" type="text"   formControlName="email" required/>
          </div>
          
          <div class="item">
            <label for="telefone">Telefone/Celular<span>*</span></label>
            <input id="telefone" type="tel"   formControlName="telefone" required maxlength="14" onkeypress="mascaratel(this)"/>
          </div>
          
        </div>
        <div class="question">
          <label>Sexo</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" formControlName="sexo"/>
              <label for="radio_1" class="radio"><span>Feminino</span></label>
            </div>
            <div>
              <input  type="radio" value="none" id="radio_2" formControlName="sexo"/>
              <label for="radio_2" class="radio"><span>Masculino</span></label>
            </div>
          </div>
        </div>
        <div class="item">
         			<p>Categoria</p>
               <select class="form-control" formControlName="categorias">
                <option value= ""  ng-selected="selected">
                  Selecione a categoria
                </option>
                <option *ngFor="let categoria  of categoriaList" value= {{categoria.id}} (click)="selecionaCategoria(categoria)">
                  {{categoria.nome}} 
                </option>
             </select>
              
  		 </div>
   		 <div class="item"  >
			        <p>Serviço</p>
					<select formControlName="servicos"  class="form-control" >
			        
            <option *ngFor="let servs  of servicoList" value= {{servs.id}} (click)="selecionaServico(servs)">
              {{servs.nome}} 
            </option>
			    	</select>
        </div>   
        <div class="btn-block">
          <button type="submit" >Agendar</button>
        </div>
      </form>
    </div>
    <script src="../../assets/js/mascaras.js" th:src="@{/../../assets/js/mascaras.js}"></script>
    <script src="../../assets/js/selects.js" th:src="@{/../../assets/js/selects.js}"></script>
  </body>
</html>