<!doctype html>
<html class="no-js" lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> DIGITAL HOUSE BARBER </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <!-- CSS here -->
    <style type="text/css">
        @import url('../assets/css/bootstrap.min.css');
        @import url('../assets/css/owl.carousel.min.css');
        @import url('../assets/css/slicknav.css');
        @import url('../assets/css/flaticon.css');
        @import url('../assets/css/gijgo.css');
        @import url('../assets/css/animate.min.css');
        @import url('../assets/css/animated-headline.css');
        @import url('../assets/css/magnific-popup.css');
        @import url('../assets/css/fontawesome-all.min.css');
        @import url('../assets/css/themify-icons.css');
        @import url('../assets/css/slick.css');
        @import url('../assets/css/nice-select.css');
        @import url('../assets/css/style.css');
    </style>	
</head>
<body>
    <!-- ? Preloader Start -->
    
    <app-header></app-header>

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>NOSSOS SERVIÇOS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Services Area Start -->
        <section class="service-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle text-center mb-90">
                            <span>Serviços Profissionais</span>
                            <h2>Nossos melhores serviços que oferecemos para você</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-healthcare-and-medical"></i>
                            </div> 
                            <div class="service-cap">
                                <h4><a href="#">Barba</a></h4>
                                <p>O primeiro serviço é o cuidado com a barba. Lembrando que não estamos apenas falando de aparar o volume ou cortá-la, mas também da manutenção do desenho, da hidratação, da esfoliação e da camuflagem dos fios brancos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption active text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-fitness"></i>
                            </div> 
                            <div class="service-cap">
                                <h4><a href="#">Corte e tingimento de cabelo</a></h4>
                                <p>Assim como a barba, o cabelo é parte essencial do visual de um homem. Temos não só o serviço de corte (com tesoura e máquina) e tingimento, mas também de cobertura dos fios brancos, modelagem de penteado e hidratação</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-clock"></i>
                            </div> 
                            <div class="service-cap">
                                <h4><a href="#">Manicure e podologia</a></h4>
                                <p>Além de fazer barba, cabelo e bigode, também temos algo muito importante, a manicure e a podologia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->
    </main>
    <app-footer></app-footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Ir para o Topo" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js" th:src="@{../assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js" th:src="@{../assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script src="../assets/js/popper.min.js" th:src="@{../assets/js/popper.min.js}"></script>
    <script src="../assets/js/bootstrap.min.js" th:src="@{../assets/js/bootstrap.min.js}"></script>>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js" th:src="@{../assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js" th:src="@{../assets/js/owl.carousel.min.js}"></script>
    <script src="../assets/js/slick.min.js" th:src="@{../assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js" th:src="@{../assets/js/wow.min.js}"></script>
    <script src="../assets/js/animated.headline.js" th:src="@{../assets/js/animated.headline.js}"></script>
    <script src="../assets/js/jquery.magnific-popup.js" th:src="@{../assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script src="../assets/js/gijgo.min.js" th:src="@{../assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js" th:src="@{../assets/js/jquery.nice-select.min.js}"></script>
    <script src="../assets/js/jquery.sticky.js" th:src="@{../assets/js/jquery.sticky.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="../assets/js/jquery.counterup.min.js" th:src="@{../assets/js/jquery.counterup.min.js}"></script>
    <script src="../assets/js/waypoints.min.js" th:src="@{../assets/js/waypoints.min.js}"></script>
    <script src="../assets/js/jquery.countdown.min.js" th:src="@{../assets/js/jquery.countdown.min.js}"></script>
    <script src="../assets/js/hover-direction-snake.min.js" th:src="@{../assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js" th:src="@{../assets/js/contact.js}"></script>
    <script src="../assets/js/jquery.form.js" th:src="@{../assets/js/jquery.form.js}"></script>
    <script src="../assets/js/jquery.validate.min.js" th:src="@{../assets/js/jquery.validate.min.js}"></script>
    <script src="../assets/js/mail-script.js" th:src="@{../assets/js/mail-script.js}"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js" th:src="@{../assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../assets/js/plugins.js" th:src="@{../assets/js/plugins.js}"></script>
    <script src="../assets/js/main.js" th:src="@{../assets/js/main.js}"></script>
    
    </body>
</html>
