<head>
    <style>
     @import url('../assets/css/fontawesome-all.min.css');
    </style>
    </head>
    
    <div id='cssmenu'>
        <ul>
           <li><a href='#'>Home</a></li>
           <li  ><a href='marcacoes'>Clientes</a></li>
           <li class='active'><a href='minhaAgenda'>Minha Agenda</a></li>
           <li><a href='#'>Meus Dados</a></li>
           <li><a href='funcionarios'>Funcionários</a></li>
           <li><a href='#' style="left: 45em;"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
  
  
    <div class="container">
        <div class="row">
          <div class="col-md-7 mrgnbtm">
            <h2>Adicione Sua Disponibilidade</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Data</label> 
                  <input type="date" class="form-control" formControlName="data"  placeholder="data">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1">Hora</label>
                  <select class="form-control" formControlName="hora">
                    <option value= ""  ng-selected="selected">
                      Selecione a hora
                    </option>
                    <option *ngFor="let hora  of horaList" value= {{hora.id}} (click)="selecionaHora(hora)">
                      {{hora.hora}} 
                    </option>
                 </select>                </div>
              </div>         
           
             
              
              <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Adicionar</button>
            </form>
          </div>
     
        </div>
      </div>
     
  <!--

 <div class="mrgnbtm">
        <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
      </div>
    lista
  -->    
  <br>
  <br>
  <div  *ngIf="users.length !== 0">
  <h2 style="background-color: black; color: blanchedalmond;">Seus Horários Disponíveis</h2>
  <br>
  <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
           <!--  <a routerLink="/cliente/salvar" class="btn btn-success">Novo</a>-->
   
             <table class="table table-striped table-hover">   
                 <thead>
                     <tr>
                      
                       <th>Data</th>
                       <th>Hora</th>
                   
                     </tr>
                 </thead>
   
                 <tbody>  
                   <tr *ngFor = "let c of clientes" [routerLink]= "['/cliente/salvar',c.id]">
                       
                       <td>{{c.dataAgendamento}}</td>
                       <td>{{c.horaAgendamento}}</td>
                 
                       <td><button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">Remarcar</button></td>
                   </tr>
                 </tbody>
             </table>
   
         </div>
      </div>
   </div>
</div>