<head>
  <style>
   @import url('../assets/css/fontawesome-all.min.css');
  </style>
  </head>
  <body>
  <div id='cssmenu'>
    <ul>
      <li (click)="pagHome()"><a >Home</a></li>
      <li (click)="pagMarcacoes()"><a>Clientes</a></li>
      <li (click)="pagMinhaAgenda()"><a>Minha Agenda</a></li>
      <li ><a href='#'>Meus Dados</a></li>
      <li class='active'  (click)="pagFuncionarios()"><a>Funcionários</a></li>
      <li *ngFor = "let  u of usuario" style="left: 12em; text-align: center; top:15px;" >
       Você está logado como:<br> {{u.nome}}
      </li>
     <li><a href='#' style="left: 36em;" (click)="logout()">SAIR<i class="fas fa-sign-out-alt"></i></a></li>
      
   </ul>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-7 mrgnbtm">
        <h2>Adicione Novos Funcionários</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Nome completo</label>
              <input type="text" class="form-control" formControlName="nome" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1">CPF</label>
              <input type="text" class="form-control" formControlName="cpf" id="exampleInputPassword1" placeholder="CPF">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Telefone</label>
              <input type="text" class="form-control" formControlName="telefone"  placeholder="Telefone">
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1">E-mail</label>
              <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
            </div>
          </div>
      
          <div class="row">
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">Endereco</label>
              <input type="text" class="form-control" formControlName="endereco" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Endereço">
            </div>
          </div>
          
          <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Adicionar</button>
        </form>
      </div>
      <div class="col-md-4 mrgnbtm">
        <app-display-board
         [userCount]="userCount"
         (getUsersEvent)="getAllUsers()"
        >
        </app-display-board>
      </div>
    </div>
  </div>
  <div class="mrgnbtm">
    <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
  </div>
  </body>
  