<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Agendamento</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">   
    <link href="../static/css/forms.css"  th:href="@{/css/forms.css}" rel="stylesheet" media="all">
   <meta charset="utf-8">
  </head>
  <body>
   <div class="btn-return" >
          <a href="menuAgenda" class="btn header-btn"><button>Retornar</button>
         </a> </div>
         
    <div class="testbox">
      <form method="post">
        <div class="banner">
          <h1>Agendamento</h1>
        </div>
        <br/>
        <br/>
        <div class="colums">
          <div class="item">
            <label for="cpf">CPF<span>*</span></label>
             <input class="input--style-3" type="text" id="cpf" maxlength="13" name="cpf" onkeypress="mascaracpf(this)">
          </div>
          
           <div class="item">
            <label for="nome">Nome<span>*</span></label>
             <input class="input--style-3" type="text"  name="nome">
          </div>
          <div class="item">
            <label for="email">E-mail<span>*</span></label>
            <input id="email" type="text"   name="email" required/>
          </div>
          
          <div class="item">
            <label for="telefone">Telefone/Celular<span>*</span></label>
            <input id="telefone" type="tel"   name="telefone" required maxlength="14" onkeypress="mascaratel(this)"/>
          </div>
          
        </div>
        <div class="question">
          <label>Sexo</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" name="info"/>
              <label for="radio_1" class="radio"><span>Feminino</span></label>
            </div>
            <div>
              <input  type="radio" value="none" id="radio_2" name="info"/>
              <label for="radio_2" class="radio"><span>Masculino</span></label>
            </div>
          </div>
        </div>
        <div class="item">
          <p >Serviço</p>

		<select name="servicos">
        <option th:each="servicos : ${ls}"
                th:value="${servicos.idServico}"
                th:selected="${servicos.idServico == selecionado.idServico}"
                th:text="${servicos.nome}" />
    	</select>
        </div>     				 
        <div class="btn-block">
          <button type="submit" >Agendar</button>
        </div>
      </form>
    </div>
    <script src="js/mascaras.js" th:src="@{/js/mascaras.js}"></script>
  </body>
</html>