<!DOCTYPE HTML>

<html lang="br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Barbearia -Ajuda</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/mainhelp.css" th:href="@{css/mainhelp.css}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Ajuda <span> <br/>Funcionamento de Agendamentos e Cancelamentos da Barbearia</span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="img/gallery/gallery2.png" alt="" />
						</div>
						<div class="content">
							<ul>
								<strong><li>AGENDAMENTO</li></strong>
									<ul>
										<li style="list-style: none;">
											Para fazer a marcação on-line basta clicar na opção "AGENDE", preencher os dados e efetivar a solicitação.
											Você receberá um Número de Protocolo, guarde-o bem, pois em caso de Cancelamento será este código que deverá ser utilizado.
										</li>
									</ul>
								<strong><li>CANCELAMENTO</li></strong>
									<ul>
										<li style="list-style: none;">
											Para fazer o cancelamento on-line basta clicar na opção "CANCELE", preencher os dados e efetivar a solicitação.
											O campo <em>Número de Protocolo </em>, deverá ser preenchido com o código recebido quando você realizou o agendamento.
										</li>
									</ul>

									<strong><li>REMARCAÇÕES</li></strong>
									<ul>
										<li style="list-style: none;">
											Para fazer o reagendamento on-line, é preciso que você primeiro Cancele a sua marcação e posteriormente faça novamente o agendamento, inserindo a nova data desejada.
										</li>
									</ul>
							</ul>
							<p>Não ficou satisfeito? Entre em contato conosco:</p><a href="contact.html">Entrar em Contato</a>
							</div>
					</section>

				

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js" th:src="@{assets/js/jquery.min.js}"></script>
			<script src="assets/js/jquery.poptrox.min.js" th:src="@{assets/js/jquery.poptrox.min.js}"></script>
			<script src="assets/js/skel.min.js" th:src="@{assets/js/skel.min.js}"></script>
			<script src="assets/js/util.js" th:src="@{assets/js/util.js}"></script>
			<script src="assets/js/main.js" th:src="@{assets/js/main.js}"></script>

	</body>
</html>