<head>
  <style>
   @import url('../assets/css/fontawesome-all.min.css');
  </style>
  </head>
  
  <div id='cssmenu'>
    <ul>
      <li (click)="pagHome()"><a >Home</a></li>
      <li  class='active'  (click)="pagMarcacoes()"><a>Clientes</a></li>
      <li (click)="pagMinhaAgenda()"><a>Minha Agenda</a></li>
      <li (click)="pagMeusDados()"><a>Meus Dados</a></li>
      <li  (click)="pagSenha()"><a >Mudar Senha</a></li>
      <li (click)="pagFuncionarios()" [hidden]="adicionaFunc == true"><a>Funcionários</a></li>
      <li *ngFor = "let  u of usuario" style="left: 12em; text-align: center; top:15px;" >
       Você está logado como:<br> {{u.nome}}
      </li>
     <li><a href='#' style="left: 36em;" (click)="logout()">SAIR<i class="fas fa-sign-out-alt"></i></a></li>
      
   </ul>
  </div>



<h2 style="background-color: black; color: blanchedalmond;">Lista de Agendamento</h2>
<br>
<div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <!--  <a routerLink="/cliente/salvar" class="btn btn-success">Novo</a>-->
 
           <table class="table table-striped table-hover">   
               <thead>
                   <tr>
                     <th>Nome</th>
                     <th>Data</th>
                     <th>Hora</th>
                     <th>Email</th>
                     <th>Telefone</th>
                     <th>Ações</th>
                   </tr>
               </thead>
 
               <tbody>  
                 <tr *ngFor = "let c of clientes" [routerLink]= "['/cliente/salvar',c.id]">
                     <td>{{c.nome}}</td>
                     <td>{{c.dataAgendamento}}</td>
                     <td>{{c.horaAgendamento}}</td>
                     <td>{{c.email}}</td>
                     <td>{{c.telefone}}</td>
                     <td><button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">Remarcar</button></td>
                 </tr>
               </tbody>
           </table>
 
       </div>
    </div>
 </div>