<head>
    <style>
     @import url('../assets/css/fontawesome-all.min.css');
    </style>
    </head>
    
    <div id='cssmenu'>
      <ul>
        <li (click)="pagHome()"><a >Home</a></li>
        <li (click)="pagMarcacoes()"><a>Clientes</a></li>
        <li class='active'  (click)="pagMinhaAgenda()"><a>Minha Agenda</a></li>
        <li ><a href='#'>Meus Dados</a></li>
        <li (click)="pagFuncionarios()"><a>Funcionários</a></li>
        <li *ngFor = "let  u of usuario" style="left: 12em; text-align: center; top:15px;" >
         Você está logado como:<br> {{u.nome}}
        </li>
       <li><a href='#' style="left: 36em;" (click)="logout()">SAIR<i class="fas fa-sign-out-alt"></i></a></li>
        
     </ul>
    </div>
  
  <div class="container">
      <div class="row">
        <div class="col-md-7 mrgnbtm">
          <h2>Adicione Suas Disponibilidades</h2>
          <form [formGroup]="disponivelForm" (ngSubmit)="onSubmit()" >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Funcionário</label>
                <input type="text" disabled class="form-control" formControlName="funcionario">
              </div>
            </div>
  
            <div class="row">
             
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Data</label>
                <input type="date" class="form-control" formControlName="data" placeholder="Data">
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Hora</label>
                <select formControlName="hora"  class="form-control" >
                    
                    <option *ngFor="let horas  of horaList" value= {{horas.idHora}} >
                      {{horas.hora}} 
                    </option>
              </select>
              </div>
            </div>
           
            
            <button type="submit" [disabled]="!disponivelForm.valid" class="btn btn-danger">Adicionar</button>
          </form>
        </div>
       
      </div>
    </div>
   
    